 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 53px 0 0;
}

.u-section-1 .u-form-1 {
  height: 438px;
  margin: -561px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 458px;
}

.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}